<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<plugin name="TESD-Tech PS Package" xmlns="http://plugin.powerschool.pearson.com" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" description="Create and manage PowerSchool plugin archives" version="23.2.22.2" xsi:schemaLocation="http://plugin.powerschool.pearson.com plugin.xsd">
  <publisher name="Benjamin Kemp">
    <contact email="kempb@tesd.net"/>
  </publisher>
  <access_request>
    <cdn_request>
      <cdn name="https://*.google.com"/>
      <cdn name="https://*.firebaseapp.com/"/>
    </cdn_request>
  </access_request>
</plugin>